.container {
    text-align: center;
    padding: 2rem;
    margin-top: 50px;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: black;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    background-color: #EAE7DD;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #a19b8c;
}