.reviewContainer {
    margin-top: 2rem;
    padding: 1.5rem;
    border-top: 1px solid #ccc;
    background-color: #EAE7DD;
    border-radius: 10px;
}

.reviewList {
    list-style: none;
    padding: 0;
}

.reviewItem {
    padding: 1rem;
    border-bottom: 2px solid #bebbb3;
    border-top: 2px solid #bebbb3;
}

.reviewer {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.3rem;
}

.rating {
    color: black;
    margin-bottom: 0.5rem;
}

.comment {
    color: #444;
    font-style: italic;
}

.noReviews {
    font-style: italic;
    margin-top: 1rem;
    color: #777;
}